<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes2.mapper.metadataMapper">
  
  	<!-- 모든 글 조회(ALL) -->
  	<select id="listALL" resultType="com.mes2.metadata.domain.md_productDTO">
  		select * from meta_data_product
  	</select>
  	
  	<!-- 날짜 필터 조회(datefilter) -->
  	<select id="listDATE" resultType="com.mes2.metadata.domain.md_productDTO" parameterType="java.util.Map">
  		select * from meta_data_product
  		
  		<where>
            <if test="searchName !=null and !searchName.equals('')">
                and name like '%${searchName}%'
            </if>
           
            <if test="start !=null and end !=null ">
                and regdate between #{start} and #{end}
            </if>
            
         </where>
  		

  	</select>

  </mapper>
  