<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.mes2.mapper.metadataMapper">
  
	<resultMap type="com.mes2.metadata.domain.md_productDTO" id="board">
    	<result property="product_code" column="product_code"/>
    	<result property="name" column="name"/>
    	<result property="category" column="category"/>
    	<result property="unit" column="unit"/>
    	<result property="cost" column="cost"/>
    	<result property="price" column="price"/>
    	<result property="production_status" column="production_status"/>
    	<result property="regdate" column="regdate"/>
    </resultMap>
  
  	<!-- 모든 글 조회(ALL) -->
  	<select id="listALL" resultType="com.mes2.metadata.domain.md_productDTO">
  		select * from meta_data_product
  	</select>
  	
  	<!-- 날짜 필터 조회(datefilter) -->
  	<select id="listDATE" resultType="com.mes2.metadata.domain.md_productDTO" parameterType="java.util.Map">
  		select * from meta_data_product
  		<where>
            <if test="searchName !=null and !searchName.equals('')">
                and name like '%${searchName}%'
            </if>
           
            <if test="start !=null and end !=null ">
                and regdate between #{start} and #{end}
            </if>
            
         </where>
  	</select>
  	
  	<insert id="insert" parameterType="com.mes2.metadata.domain.md_productDTO">
  		INSERT INTO meta_data_product (product_code, name, category, unit, cost, price, ofileName)
    	VALUES (#{product_code}, #{name}, #{category}, #{unit}, #{cost}, #{price}, #{ofileName})
  	</insert>
  	
  	<update id="update" parameterType="com.mes2.metadata.domain.md_productDTO">
  	
  	UPDATE meta_data_product
    SET
        name = #{name},
        category = #{category},
        unit = #{unit},
        cost = #{cost},
        price = #{price},
        production_status = #{production_status}       
        <if test="ofileName != null">
         ,   ofileName = #{ofileName}
        </if>
    WHERE
        product_code = #{product_code}
  	</update>
  	
  	
  	<delete id="delete" parameterType="com.mes2.metadata.domain.md_productDTO">
  	delete from meta_data_product
  	where product_code = #{product_code} 	
  	</delete>
  	
  	
  	<!--글 목록 조회(page) -->
  	<select id="listPage" resultType="com.mes2.metadata.domain.md_productDTO" resultMap="board">
  		select * from meta_data_product
<!--   		order by bno desc,regdate desc  -->
  		<!-- limit #{page},#{pageSize} --> 	
  		limit #{startPage},#{pageSize} 	
  	</select>
	
	
	<!-- 전체 글 개수 조회 -->
  	<select id="countBoard" resultType="int">
  	  <![CDATA[
	  	  select count(*) from meta_data_product
   	  ]]> 
  	</select>
	
  </mapper>
  