<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mes2.mapper.outMapper">

	<resultMap type="com.mes2.materials.domain.OutDTO" id="oDTO">
		<result property="out_index" column="out_index"/>
		<result property="out_code" column="out_code"/>
		<result property="based_code" column="based_code"/>
		<result property="product_code" column="product_code"/>
		<result property="quantity" column="quantity"/>
		<result property="status" column="status"/>
		<result property="out_type" column="out_type"/>
		<result property="out_request_date" column="out_request_date"/>
		<result property="out_regdate" column="out_regdate"/>
		<association property="pdto" resultMap="pdto"></association>
		<collection property="opList" resultMap="opDTO"></collection>
	</resultMap>
	
	<resultMap type="com.mes2.materials.domain.productDTO" id="pdto">
		<id property="product_code" column="product_code"/>
		<result property="product_code" column="product_code"/>
		<result property="name" column="name"/>
		<result property="category" column="category"/>
		<result property="unit" column="unit"/>
		<result property="production_status" column="production_status"/>
	</resultMap>
	
	<resultMap type="com.mes2.materials.domain.OpDTO" id="opDTO">
		<id property="out_code" column="out_code"/>
		<result property="out_product_index" column="out_product_index"/>
		<result property="out_code" column="out_code"/>
		<result property="product_code" column="product_code"/>
		<result property="pd_lot" column="pd_lot"/>
		<result property="out_quantity" column="out_quantity"/>
	</resultMap>
	

	<!-- 출고 목록 조회 -->
	<select id="getOutList" resultMap="oDTO">
		SELECT * FROM c7d2307t2_2.out_warehouse
		JOIN meta_data_product
		ON out_warehouse.product_code = meta_data_product.product_code
		ORDER BY status DESC
	</select>
	
	<!-- 출고 상세 조회(출고코드 O) -->
	<select id="getOutDetail" resultMap="oDTO">
		SELECT ow.out_index, owp.out_code, owp.product_code, mdp.name, pd_lot, out_quantity
		FROM out_warehouse_product owp 
		LEFT JOIN out_warehouse ow
		ON owp.out_code = ow.out_code
		LEFT JOIN meta_data_product mdp
		ON owp.product_code = mdp.product_code 
		WHERE out_index = #{out_index}
	</select>
	
	<!-- 출고 상세 조회(출고코드 X) -->
	<select id="getOutInfo" resultType="com.mes2.materials.domain.OutDTO">
		SELECT * FROM out_warehouse 
		WHERE out_index = #{out_index}
	</select>
	
	<!-- 출고 품목 재고 조회 -->
	<select id="getStockList" resultType="com.mes2.materials.domain.StockDTO">
		SELECT * FROM stock
		WHERE product_code = #{product_code}
	</select>
	
	<!-- 출고 품목 재고 등록 -->
	
	<!-- Stock 테이블 출고 예정 수량 입력 -->
<!-- 	<update id="updatePlannedQuantity"> -->
<!-- 		<foreach collection="list" item="stockDTO" separator=";"> -->
<!-- 			UPDATE stock  -->
<!-- 			SET planned_quantity = #{stockDTO.planned_quantity}  -->
<!-- 			WHERE stock_index = #{stockDTO.stock_index} -->
<!-- 		</foreach> -->
<!-- 	</update> -->
</mapper>