@charset "UTF-8";


.son_container {
	
	width: 100%; /* 컨테이너의 가로폭을 50%로 설정 (조절 가능) */
      border: 1px solid #ccc; /* 컨테이너 테두리를 추가할 수 있습니다. */
      padding: 10px 80px 100px 150px; /* 원하는 여백 설정 (조절 가능) */
}

.son_serch {
	
	display: flex;
	gap: 10px;
	justify-content: center;
  	align-items: center;
  	padding: 15px;
}

.son_list-btn {
      margin-left: auto; /* 나머지 공간을 모두 차지하여 오른쪽으로 이동 */
    }

#table_head {
	text-align: center;
}


.pagination-container {
        margin: 0 auto;
        width: fit-content;
    }

    .pagination {
        display: inline-block;
        padding-left: 0;
        margin: 20px 0; /* 필요에 따라 조절 */
        border-radius: 4px;
    }

    .pagination > li {
        display: inline;
    }

    .pagination > li > a,
    .pagination > li > span {
        position: relative;
        float: left;
        padding: 6px 12px;
        margin-left: -1px;
        line-height: 1.42857143;
        text-decoration: none;
        color: #337ab7;
        background-color: #fff;
        border: 1px solid #ddd;
    }

    .pagination > li:first-child > a,
    .pagination > li:first-child > span {
        margin-left: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
    }

    .pagination > li:last-child > a,
    .pagination > li:last-child > span {
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    .pagination > li > a:hover,
    .pagination > li > span:hover,
    .pagination > li > a:focus,
    .pagination > li > span:focus {
        background-color: #eee;
    }

    .pagination > .active > a,
    .pagination > .active > span,
    .pagination > .active > a:hover,
    .pagination > .active > span:hover,
    .pagination > .active > a:focus,
    .pagination > .active > span:focus {
        z-index: 2;
        color: #fff;
        cursor: default;
        background-color: #337ab7;
        border-color: #337ab7;
    }

    .pagination > .disabled > span,
    .pagination > .disabled > span:hover,
    .pagination > .disabled > span:focus,
    .pagination > .disabled > a,
    .pagination > .disabled > a:hover,
    .pagination > .disabled > a:focus {
        color: #777;
        cursor: not-allowed;
        background-color: #fff;
        border-color: #ddd;
    }