@charset "UTF-8";


.son_container {
	
	width: 100%; /* 컨테이너의 가로폭을 50%로 설정 (조절 가능) */
      border: 1px solid #ccc; /* 컨테이너 테두리를 추가할 수 있습니다. */
      padding: 10px 80px 100px 150px; /* 원하는 여백 설정 (조절 가능) */
}

.son_serch {
	
	display: flex;
	gap: 10px;
	justify-content: center;
  	align-items: center;
  	padding: 15px;
}

.son_list-btn {
      margin-left: auto; /* 나머지 공간을 모두 차지하여 오른쪽으로 이동 */
    }
