
@charset "UTF-8";


p {
	margin:0;
}
.od-content{
	cursor: pointer;
	
}

.od-content:hover {
  color: #6E9888;
}

 .search {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 30px;
      padding: 20px;
      border: solid 2px #a2c6a8; 
      margin-top: 40px; 
     
    }

    .section1 {
      padding: 1px;   
      width: 1500px;
      height: 500px;     
      /* margin-top: 30px; */
      margin:30px;
      margin-left:60px;

      
    }

	.info-btn{
	background-color:#6e9888;
	}
	
	.list-font{
	font-size: 25px;
	 cursor: pointer; 
	 margin-top:10px;
	 margin-bottom: 20px;
	
	}
	.content-container{
	  margin-right:5px;
	 margin-left:5px;
	
	}
	.content-box{
	/* outline: 3px solid #A2C6A8; */
	 /* background-color: #e6e6e6; */
	 height: 400px;
      margin: 0 auto;
      overflow-y: auto;  
      overflow-x: hidden; 
      
	}
	.content-title {
	display:flex;
	justify-content:space-between;
	align-items:center;
	}


	button.mint-btn {
  background-color: #A2C6A8;
  color: white;
}




button.mint-btn:hover {
  background-color: #A2C6A8 ;
}

	button.dark-green-btn {
  background-color:  #6e9888;
  color: white;
}

button.dark-green-btn:hover {
  background-color: #6e9888 ;
}

button.fg-btn {
  background-color: #577D71;
  color: white;
}

button.fg-btn:hover {
  background-color: #577D71;
}


    .list-box {
      
      height: 300px;
      margin: 0 auto; 
      overflow-y: auto;  /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@스크롤  */
      overflow-x: hidden;  /*@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@스크롤  */
    }

    .list-btn {
      display: flex;
      justify-content: flex-end;
      gap: 20px;
      margin-right: 30px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .search-font {
      margin-right: 5px;
      margin-left: 10px;
    }
    
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      flex-direction: column;
     
    }
  
    .page-nav {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* 원하는 간격 조절 */
}

.page-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-nav li {
  margin: 0 5px; /* 각 목록 항목 간격 조절 */
}

     .mo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   }
   .box {
        background-color: #95c4a2;
        border: 1px black solid;
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        float: left;
        border-top-left-radius: 10px;  /* 왼쪽 위 둥근 테두리 */
        border-bottom-left-radius: 10px;  /* 왼쪽 아래 둥근 테두리 */
      }

      .box2 {
        background-color: white;
        border: 1px black solid;
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        float: left;
        border-top-right-radius: 10px; /* 오른쪽 위 둥근 테두리 */
        border-bottom-right-radius: 10px; /* 오른쪽 아래 둥근 테두리 */
      }

      .box3 {
        background-color: white;
        border: 1px black solid;
        width: 100px;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        float: left;
        
      }
      
    .box2:hover, .box3:hover, .box:hover {
     color: #ffcccc;
    cursor: pointer; 
  
    }

  
  #closeBtn{
   font-size: 40px;
  }
  
  #searchType {
  width: 200px;
  }
  
  .searchSub{
   /*  height:20px; */ /* mb3제거하면 해결 */
  }
  
   .pagination .page-item.active .page-link {
    background-color: #95c4a2; /* 활성화된 페이지 번호의 배경색상 변경 */
    color: #ffffff; /* 활성화된 페이지 번호 텍스트 색상 (흰색) */
    border-color: #81b189;
  }
  

  #reg-mo-btn {
   background-color: #95c4a2;
   border-color: #bfbfbf;
   color: #ffffff;
   
  }
  
  .stat-item {
  cursor: pointer;
  }
  
  .red-circle {
  width: 10px; 
  height: 10px; 
  background-color: red;
  border-radius: 50%; 
   display: inline-block;
   gap: 5px;
}

  .green-circle {
  width: 10px; 
  height: 10px; 
  background-color: green; 
  border-radius: 50%; 
   display: inline-block;
   gap: 5px;
}

  .gray-circle {
  width: 10px; 
  height: 10px; 
  background-color: gray; 
  border-radius: 50%; 
   gap: 5px;
}

  .yellow-circle {
  width: 10px; 
  height: 10px; 
  background-color: rgb(250, 210, 134); 
  border-radius: 50%;
   display: inline-block;
   gap: 5px;
}
  

